.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.film-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.film-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
